---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "@components/OptimizedPicture.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { getAsset } from "@lib/contentful.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const image = await getAsset(post["fields"]?.["cover"]?.["sys"]?.["id"]);
---

<div
  class="relative overflow-hidden rounded-xl bg-white transition-transform duration-500 hover:-translate-y-1 hover:scale-105 dark:bg-neutral-900"
>
  <a href={`/posts/${post["sys"]?.["id"]}/`} class="block">
    {
      (
        <OptimizedCover
          src={"https://" + image?.fields?.file?.url}
          alt="Gambar"
        />
      )
    }
    <div class="absolute bottom-0 end-0 start-0 bg-gradient-to-t p-5 md:p-6">
      <div class="mt-16 flex items-center gap-4 text-xs text-white">
        <!-- <span>{post.data.tags.join(" ")}</span> -->
        <FormattedDate date={post["sys"]?.["createdAt"]} />
      </div>
      <h3 class="mt-2 text-lg font-bold text-white">
        {post["fields"]?.["title"]}
      </h3>
    </div>
  </a>
</div>
